.team {
    height: 100vh;
    scroll-snap-align: start; /* chaque section se "cale" */
    background-color: darkgoldenrod;
    align-items: center;
    display: flex;
    justify-content: center;
}
